a {
  color: rgb(68, 68, 68);
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(66, 66, 66);
}

.btn {
  background-color: rgb(123, 255, 211);
  padding: 1rem;
  border-radius: 16px;
  outline: none;
  border: none;
  box-shadow: 0 2px 2px rgb(154 160 185 / 5%), 0 5px 20px rgb(166 173 201 / 20%);
  color: rgb(68, 68, 68);
}
